<h1>Welcome to the home page</h1>
{{template "lorem-ipsum"}}

{{define "lorem-ipsum"}}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quidem tempora magni. Earum animi non perferendis sit, omnis soluta ipsa iste corporis deleniti. Maxime, nostrum corrupti? Impedit nulla veniam odit qui a accusantium velit at voluptas nam provident ipsam dolorem, eligendi autem ut natus in eum? Earum fugiat perspiciatis quo nisi cum perferendis corporis aliquam quisquam facilis magni, sed nulla sequi ad odit consequuntur ut laborum explicabo! Doloribus ipsum enim aperiam fuga recusandae ratione repudiandae, obcaecati molestiae magnam quasi dolor nisi commodi fugiat quibusdam consequatur perspiciatis ab magni similique animi, a placeat atque, illum dolorem veniam. Impedit corrupti nulla explicabo!
{{end}}